
:root {
  --icon-color: #9356DC;
  --button-color: #FF79DA;
  --nouveau-color: #99E2D0;
  --bg: #FFFFFF;
  --header-style: #060606;
  --green: #008766;}


body {
    width: 100%;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }

  .header__title {
    width: 50%;
    text-align: center;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    font-family: "Shrikhand", cursive;
    font-size: 30px;
  }

  .fa-arrow-left {
    width: 50px;
    font-size: 24px;
    color:var(--header-style);
    position: absolute;
    left: 17px;
    top: 17px;}

  .restaurants__card-img {
        height: 250px;
        object-fit: cover;
        width: 100%;
      }
      .menu {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin-bottom: -50px;
        min-width: 330px;
        background: var(--bg);
        border-top-right-radius: 50px;
        border-top-left-radius: 50px;
        transform: translateY(-50px);
       
      }

      .menu-card {
        box-shadow: 0px 8px 10px  rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: var(--bg);
        border-radius: 15px;
        padding-right: 15px;
        margin-top: 15px;
        transform: scale(1);
        transition: transform 0.3s ease;
        
      }
      .menu-card:hover {
        transform: scale(1.1); 
      }


      .menu__header{
        position: relative;
      }

      .menu__header-title {
        width: 100%;
        font-size: 25px;
        font-family: "Shrikhand", cursive;
        
      }
      .label_coeur {
        position: absolute;
        top: 43px;
        right: 60px;
        width: 44; 
        font-size: 24px;
      }
      .menu__section {
        
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
      }

      .menu__section--title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        margin-top: 0;
        font-family: "Roboto", sans-serif;
      }
      .menu__section--separateur {
        width: 40px;
        height: 3px;
        background: var(--nouveau-color);
      }

       .menu-card__text-container {
        width: calc(100% - 50px);
        padding: 10px 15px;
        
 
      }

      .menu-card__text-container h3 {
        margin: 0;
        font-size: 18px;
    
        font-weight: 400;
        font-family: "Roboto", sans-serif;
      }

      .menu-card__text-container p {
        margin: 5px 0 0;
        font-size: 14px;
        font-weight: 300;
        font-family: "Roboto", sans-serif;
      }

      .menu-card__price {
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        font-weight: 400;
        height: 55px;
        width: 30px;
        font-family: "Roboto", sans-serif;
      }



      .button {
        box-shadow: 0px 8px 10px  rgba(0, 0, 0, 0.2);
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 0px 50px 20px 90px;
        color: var(--bg);
        text-decoration: none;
        font-weight: 700;
        border-radius: 50px;
        background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
        cursor: pointer;
      }
      .button:hover {
        cursor: pointer;
        filter: brightness(1.15);
    }

      .footer {
        padding: 22px 20px 10px 25px;
        background: #353535;
        font-family: "Shrikhand", cursive;
      }
      
      .footer__logo a {
        width: 100%;
        margin-top: 0;
        margin-bottom: 0;
        font-style: italic;
        font-weight: bold;
        font-size: 20px;
        color: var(--bg);
        text-decoration: none;
      }
      
      .footer__nav {
        list-style: none;
        padding: 0;
      }
      
      .footer__nav-item {
        margin-top: 5px;
        gap: 20px;
        color: var(--bg);
      }
      
      .footer__nav-link {
        width: 100%;
        font-size: 16px;
        font-weight: 500;
        color:var(--bg);
        text-decoration: none;
        font-family: "Roboto", sans-serif;
      }
      
      .footer__nav-link--text1 {
        margin-left: 10px;
      }
      
      .footer__nav-link--text2 {
        margin-left: 5px;
        top: 26px;
      }

      /* heart*/

      .checkbox-heart {
        position: absolute;
        display: block;
        z-index: 1;
        bottom: 5px;
        right: 5px;
        appearance: none;
        height: 50px;
        width: 50px;
        cursor: pointer;
      }
      .checkbox-heart + .checkbox-heart__label {
        position: absolute;
        bottom: 7px;
        right: 0px;
        font-size: 25px;
      }
      .checkbox-heart + .checkbox-heart__label .fa-regular {
        position: absolute;
        bottom: 20px;
        right: 20px;
        opacity: 1;
        transition: opacity 0.2s ease;
      }
      .checkbox-heart:checked + .checkbox-heart__label .fa-regular {
        opacity: 0;
      }


      .checkbox-heart + .checkbox-heart__label .fa-solid {
        position: absolute;
        bottom: 20px;
        right: 20px;
        background: linear-gradient(0deg, var(--icon-color) -11.44%, var(--button-color) 123.93%);;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        transform-origin: center;
        transform: scale(0);
        transition: transform 0.2s ease-out;
      }
       .checkbox-heart:checked + .checkbox-heart__label .fa-solid {
        transform: scale(1.03);
      }
      .checkbox-heart:checked + .checkbox-heart__label .fa-regular {
        opacity: 0;
      }



    /* Animation des sections du menu */
    .first-section {
        animation-delay: 0.2s;
    }
    
    .second-section {
        animation-delay: 0.4s;
    }
    
    .third-section {
        animation-delay: 0.6s;
    }
    
    @keyframes menu-section-in {
        from {
        transform: translateX(100vw);
        }
        to {
        transform: translateX(0);
        }}















      @media screen and (min-width: 992px) {
        .menu {
          width: 50%;
          margin-left: auto;
          margin-right: auto;
          padding: 50px 180px 0 180px;
        }
        .fa-arrow-left {
          top: 25px;
          transform: scale(1);
          transition: transform 0.3s ease;
        }
       
        .header__title {
          font-size: 35px;
          margin-bottom: 15px;
        }
        .menu__header{
           
            justify-content: center;
            display: flex;
            margin-left: 171px;
        }

        /*.menu__header__title{
            right: 23rem;
        }*/
        .heart-label {
            top: 80px;
            right: 23rem;
          }

        .restaurants__card-img {
          height: 250px;
        }

        .checkbox-heart + .checkbox-heart__label {
            position: relative;
            bottom: 8px;
            right: 180px;
            transform: scale(1);
            
        }







    
        
           .checkbox-heart:checked + .checkbox-heart__label .fa-solid {
            transform: scale(1.03);
          }
          .checkbox-heart:checked + .checkbox-heart__label .fa-regular {
            opacity: 0;
          }
        .button {
          width: 20%;
          margin-bottom: 35px;
          padding: 15px;
          align-self: center;
        }
        /* Block: footer */
        .footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: row-reverse;
          padding: 30px 25px 10px 25px;
          font-size: 20px;
        }
        .footer__logo a {
          width: 10%;
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 1rem;
          margin-right: 3rem;
        }
        .footer__nav {
          width: 50%;
          display: flex;
          margin-left: 30rem;
          gap: 10px;
          justify-content: flex-end;
        }
        .footer__nav-link {
          margin: 0;
          padding: 0;
        }
        .footer__nav-link--text1, .footer__nav-link--text2 {
          margin-left: 5px;
          margin-right: 0;
        }
        .footer__nav-link--text3 {
          margin-left: 30px;
          justify-content: space-between;
        }
      }










 /* Version tablette (min-width: 768px) */
 @media screen and (min-width: 768px) {

    .button {
        width: 20%;
        margin: 0 auto 20px;
        align-self: center;
      }
      .menu {
  
        background: #F3F3F3;
        
      }
      .menu-card{ transform: scale(1);
        transition: transform 0.3s ease;}
     
      
    }
    .menu-card:hover {
      transform: scale(1.1); 
    }
 

    .menu-card__checkbox { /*superposer la case à cocher sans affecter*/
        z-index: 99;
        position: absolute;     
        width: 100%;
        height: 100%;
        margin: 0;
        appearance: none;
      }

      .menu-card__checkbox:checked + .menu-card__text-container {
        width: calc(100% - 120px);
      }

    .menu-card__text-container { /*transition en douceur*/

        transition: width 0.5s ease;
      }

      
       .menu-card__price { /*pour positionner d'autres éléments*/
        position: relative;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        font-weight: 600;
        height: 55px;
        width: 30px;
        font-family: "Roboto", sans-serif;
      }
      
    .menu-card__price--checkbox-container { 
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -5px;
        right: -100px;
        height: 72px;
        width: 70px;
        background: var(--nouveau-color);
      }

      .menu-card__price--checkbox-container .checkbox-circle { /* style de checkbox circle*/
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: #FFFFFF;
        color: #99E2D0;
      }
   
   