


  :root {
    --icon-color: #9356DC;
    --button-color: #FF79DA;
    --nouveau-color: #99E2D0;
    --bg: #FFFFFF;
    --header-style: #060606;
    --nouveau-word: #008766;}



body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  min-width: 320px;
 
  font-family: "Roboto", sans-serif;
}

/*  header */
header {
  max-width: 100%;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}

header  {
  margin: 0;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.header__title {
  margin: 0;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

/* Section localisation  */

.IconeCity {
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #EAEAEA;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.IconeCity .fa-location-dot {
  color: var(--header-style);
}

.IconeCity input {
  width: 109px;
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

/* Menu_principale */ 
.Menu_principale {
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  background-color: var(--bg);
  padding-bottom: 45px;
}
.Menu_principale h1 {
  margin-top: 15px;
  width: 73%;
  font-size: 24px;
  display: flex;
  text-align: center;
  margin-top: 30px;
}
.Menu_principale p {
  margin-bottom: 25px;
  width: 84%;
  font-size: 16px;
  text-align: center;
}

.Menu_principale button {
  box-shadow: 0px 8px 10px  rgba(0, 0, 0, 0.2);
 
  border: 1px solid;
  width: 58%;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(0deg, var(--icon-color) -11.44%, var(--button-color) 123.93%);
  color: var(--bg);
  font-size: 16px;
  align-self: center;
  transition: all 0.5s ease;
}
.Menu_principale button:hover {
  
  cursor: pointer;
  filter: brightness(1.15);
  
}

/* fonctionnement */

.section-fonctionnement {
  padding: 20px 0;
}

.section-fonctionnement__title {
  padding-left: 35px;
}

.fonctionnement-container {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  gap: 20px;
  margin-bottom: 30px;
}

.fonctionnement-card {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--bg);
  min-width: 300px;
  border-radius: 20px;
  gap: 20px;
  box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.1);
  
}


.fonctionnement-card-title {
  position: relative;

  left: calc(50% - 80px);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.fonctionnement-card-cercle {
  position: absolute;
  left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--icon-color);
  color:var(--bg);
  font-weight: 500;
}

.fonctionnement-card i {
  position: absolute;
  left: calc(50% - 120px);
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.fonctionnement-card .fa-purple {
  color: var(--icon-color);
}

/* Cartes resturants */

#restaurants {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  padding: 10px 10px 50px 10px;
}

.restaurants__title  {
  margin: 30px 0 15px 20px;
 
}

.restaurants__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  
}

.restaurants__card-container a {
  text-decoration: none;
  color: var(--header-style);
}

.restaurants-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--bg);
  height: 245px;
  width: 90%;
  max-width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.Nouveau {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 10px;
  border-radius: 3px;
  background: var(--nouveau-color);
  color: var(--nouveau-word);
  font-weight: 600;
}

.restaurants-card img {
  
  object-fit: cover;
  width: 100%;
  height: 175px;
}
.restaurants-card__title {
  margin: 5px 0 5px 10px;
}

.restaurants-card p {
  margin: 0 10px;
  font-family: "Roboto", sans-serif;
}

/* Coeur */


.checkbox-heart {
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 5px;
    right: 5px;
    appearance: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .checkbox-heart + .checkbox-heart__label {
    position: absolute;
    bottom: 7px;
    right: 0px;
    font-size: 25px;
  }
  .checkbox-heart + .checkbox-heart__label .fa-regular {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 1;
    transition: opacity 0.2s ease;
  }
  .checkbox-heart:checked + .checkbox-heart__label .fa-regular {
    opacity: 0;
  }

/*  footer */
.footer {
  padding: 22px 25px 10px 35px;
  background: #353535;
}

.footer__logo a {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: var(--bg);
  font-family: "Shrikhand", cursive;
  text-decoration: none;
}

.footer__nav {
  list-style: none;
  padding: 0;
}

.footer__nav-item {
  margin-top: 5px;
  gap: 20px;
  color: var(--bg);
}

.footer__nav-link {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  
}

.footer__nav-link--text1 {
  margin-left: 10px;
}

.footer__nav-link--text2 {
  margin-left: 5px;
  top: 26px;
}

.footer__nav-link--text3, .footer__nav-link--contact {
  color: var(--bg);
}


/*  heart */

 .checkbox-heart + .checkbox-heart__label .fa-solid {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(0deg, var(--icon-color) -11.44%, var(--button-color) 123.93%);;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.2s ease-out;
  }
   .checkbox-heart:checked + .checkbox-heart__label .fa-solid {
    transform: scale(1.03);
  }
  .checkbox-heart:checked + .checkbox-heart__label .fa-regular {
    opacity: 0;
  }


 .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: white;
    animation: loader 1s ease-out 1s forwards;
    pointer-events: none;
  }
  .loader .loader__animation {
    position: relative;
    border: 1.3rem double #353535;
    border-top: 1.3rem double #f6f6f6;
    border-bottom: 1.3rem double #f6f6f6;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    animation: spin 1s ease-in-out infinite alternate-reverse;
    z-index: 10;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    0% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }



  
  /* Version desktop  */
  @media screen and (min-width: 761px) {
    header {
      padding: 10px;
    }
    header #index-title {
      font-size: 35px;
    }
    .Menu_principale {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: #f4f3f3;
         
    }

    .Menu_principale h1 {
        text-align: center;
        font-size: 35px;
        width: 100%; 
        margin-top: 25px; 
        justify-content: center;
    }
    
    .Menu_principale p {
        font-size: 17px;
        text-align: center;
        margin-top: -15px; 
    }
    .Menu_principale button {
        box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
        border: 1px solid;
        width: 20%; 
        height: 55px; 
        border-radius: 25px;
        background: linear-gradient(0deg, var(--icon-color) -11.44%, var(--button-color) 123.93%);
        color: var(--bg);
        font-size: 16px;
        align-self: center;
        transition: all 0.5s ease;
    }
    
    .Menu_principale button:hover {
        cursor: pointer;
        filter: brightness(1.15);
    }
    
    
    /* card-title row */
    .fonctionnement-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around; /* Adjusted for more flexible spacing */
        padding: 0 20px; /* Padding for container edges */
        
    }
    
    .fonctionnement-card {
        flex: 0 1 20%; /* Adjusted flex-basis to 20%, allowing shrink but limiting growth */
        margin: 0 10px; /* Consistent margin */
        text-align: center; /* Centers content */
        padding: 10px; /* Reduced padding for tighter content fit */
        background-color:  #f4f3f3;
    }

        .restaurants__card-container {
            display: flex;
            flex-wrap: wrap; 
            justify-content: space-between; 
            gap: 20px; 
        }				
						
					
    /* Block: restaurants */
  #restaurants {
    padding: 10px 180px;
    background-color:  #f4f3f3;
  }
  .restaurants-card {
    width: calc(45% - 10px);
    justify-items: center;
    margin-bottom: 2rem;
    padding-bottom: 75px;
  }
  .restaurants-card img {
    width: 100%;
    height: 250px;
  }
  .restaurants__card-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
  }
  .restaurants__title {
    padding-left: 5px;
    margin-left: 0;
  }


  /* Block: footer */
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 30px 25px 10px 25px;
    font-size: 20px;
  }
  .footer__logo a {
    width: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    margin-right: 3rem;
  }
  .footer__nav {
    width: 50%;
    display: flex;
    margin-left: 30rem;
    gap: 10px;
    justify-content: flex-end;
  }
  .footer__nav-link {
    margin: 0;
    padding: 0;
  }
  .footer__nav-link--text1, .footer__nav-link--text2 {
    margin-left: 5px;
    margin-right: 0;
  }
  .footer__nav-link--text3 {
    margin-left: 30px;
    justify-content: space-between;
  }
  }